{% extends "base.html" %}

{% block content %}

{% if errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Errors:</strong>
    <ul class="list-unstyled">
        {% for err in errors %}
          <li>{{err}}</li>
        {% endfor %}
    </ul>
    {% if error_reason %}
      <p><b>Reason:</b> {{error_reason}}</p>
    {% endif %}
  </div>
{% endif %}

{% if not_auth_warn %}
  <div class="alert alert-danger" role="alert">Not authenticated</div>
{% endif %}

{% if success_slo %}
  <div class="alert alert-success" role="alert">Successfully logged out</div>
{% endif %}

{% if paint_logout %}
  {% if attributes %}
    <table class="table table-striped">
      <thead>
        <th>Name</th><th>Values</th>
      </thead>
      <tbody>
        {% for attr in attributes %}
          <tr><td>{{ attr.0 }}</td>
          <td><ul class="list-unstyled">
            {% for val in attr.1 %}
              <li>{{ val }}</li>
            {% endfor %}
          </ul></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">You don't have any attributes</div>
  {% endif %}
  <a href="{% url "index" %}?slo" class="btn btn-danger">Logout</a>
{% else %}
  <a href="{% url "index" %}?sso" class="btn btn-primary">Login</a> <a href="{% url "index" %}?sso2" class="btn btn-info">Login and access to attrs page</a>

  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script>
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: '{{one_tap_client_id}}',
        callback: function (credentialResponse) {
          let response = credentialResponse;
          $.ajax({
            type: 'POST',
            url: '/one-tap-login',
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/JSON; charset=utf-8',
            success: function(result) {
              location.assign('/?sso');
            },
            processData: false,
            data: JSON.stringify({credential: response.credential})
          });
        }
      });
      google.accounts.id.prompt();
    };
  </script>
{% endif %}

{% endblock %}

{% block js %}


{% endblock %}